---
---

@import "{{ site.theme }}";
.photo-table 
{
  border: 1px solid red;
  padding: none;
  margin: none;
  spacing: none;
  cellpadding: none;
  cellspacing: none;
  cellmargin: none;
  text-align: center;
}
