---
---

@import "{{ site.theme }}";

.photo-table 
{
  border: none;
  padding: none;
  margin: none;
  spacing: none;
  text-align: center;
  width: 100%;
};

figcaption
{
  font-size: smaller;
  font-style: italic;
  text-align: center;
};

@font-face {
  font-family: 'testfont';
  src: url('../assets/fonts/testfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.testfont
{
  font-family: 'testfont', serif;
}
